---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import "/src/styles/global.css"

const {pageTitle} = Astro.props
const pageTitleAfter = "Appleandroid's Website"
---



<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />

  <title>{pageTitle} &ndash; {pageTitleAfter}</title>

  <!-- To avoid Flash of Unstyled Content (FoUC) -->
  <script>
    let theme = ""

    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      theme = localStorage.getItem("theme") as string
    }
    else if (window.matchMedia("(prefers-color-theme: dark)").matches) {
      theme = "dark"
    }
    else {
      theme = "light"
    }

    if (theme == "dark") {
    document.querySelector("html").classList.add("dark")
    }
    else {
      document.querySelector("html").classList.remove("dark")
    }
  </script>
</head>
<body>
  <Header />
  <h1>{pageTitle}</h1>
  <slot />
  <Footer />
</body>
</html>
